#projects {
    padding: 50px 10%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 25px;
}


.project-card {

    background: #111827;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
}


.project-card:hover {
    transform: translateY(-8px);
}


.project-card h3 {
    color: #c084fc;
}


.project-card p {
    color: #ddd;
    line-height: 1.6;
}


.tags span {

    display:inline-block;
    background:#7c3aed;
    color:white;
    padding:5px 10px;
    margin:5px;
    border-radius:20px;
    font-size:12px;

}


.project-card a {

    display:inline-block;
    margin-top:15px;
    color:#60a5fa;
    text-decoration:none;
    font-weight:bold;

}


.ongoing {

    color:#facc15 !important;
    font-weight:bold;

}
